{% extends "base_inner.html" %}

{% block stores_depts_list %}{% endblock %}

{% block content %}
<h2>How to Pay</h2>
<p>We offer you diverse payment options to further ensure your shopping convenience. Payments can be made using any of the following:</p>
<ol>
    <li>
	Payment by Ewallet
	<ul>
	    <li>Register for an e-wallet account at <a href="http://www.pay4me.com/">www.pay4me.com</a>.</li>
	    <li>Go to any Sterling Bank branch.</li>
	    <li>Put as much money on your e-Wallet as you would like.</li>
	    <li>Use the funds to pay online at any site where Pay4Me is accepted.</li><br/>
	</ul>
    </li>
    <li>Payment at Bank<br/>
	Enjoy the convenience of paying through any of the 2000+ branches of the 8 Banks currently on our platform. Click on our Pay@Bank and follow the instructions.<br/><br/>
    <li>
	VISA or Vpay<br/>
	Pay using your international VISA card or using our very own V-Pay, accepted only in Nigeria.
    </li>
</ol>
{% endblock %}
