{% extends "base_inner.html" %}

{% block stores_depts_list %}{% endblock %}

{% block content %}
<h2>About Us</h2>
<p>Birthed in 2010, the Pay4Me Mall is a virtual mall where store owners can set up their virtual stores FREE and individuals can shop at these stores through our platform; anytime, anywhere, anyplace.</p>
<p>A secure, convenient and comfortable online shopping environment, the Pay4Me Mall was set up for Nigerians, to enhance our internet culture and promote convenient shopping via a SECURE platform. See <a href="http://www.pay4me.com">www.pay4me.com</a>.</p>
<p>OUR VISION is to engineer a revolution in Online Shopping in Nigeria.</p>
<p>OUR MISSION is to promote convenience and flexibility in the day-to-day shopping activities of The Nigerian while promoting a secure online payment system that is Verisign Secured. See <a href="http://www.pay4me.com">www.pay4me.com</a>.</p>
<p>The Pay4Me Mall is located in Lekki, Lagos, Nigeria.</p>
<p>The Pay4Me Mall is a trademark of Pay4Me Services Limited.</p>
{% endblock %}
