{% extends "email_base.html" %}
{% block salutation %}
<p>Dear {{ first_name }},</p>
{% endblock %}
{% block email_body %}
<p>Thank you for your order. Please see below details of this order:</p>

<p>
    <b>Billed To:</b><br/>
    {{ buyer_email }}<br/>
    {{ first_name }} {{ last_name }}<br/>
    {{ buyer_delivery_address }}.<br/>
    Order Number: {{ order_id }}<br/>
    Order Date and Time: {{ order_date }}<br/>
    Order Total: N{{ order_total }}<br/>
    Order Status: {{ order_status }}
</p>

<table cellspacing=10>
    <tr>
	<th style="text-align: left;">S/No.</th>
	<th style="text-align: left;">Store</th>
	<th style="text-align: left;">Description</th>
	<th style="text-align: left;">Quantity</th>
	<th style="text-align: left;">Unit Price</th>
	<th style="text-align: left;">Total Price</th>
    </tr>
    {% for item in items %}
    <tr>
	<td>{{ forloop.counter }}</td>
	<td><a href="{{ item.store_url }}">{{ item.product.product_group.store.name }}</a></td>
	<td>{{ item.product.name }}</td>
	<td>{{ item.quantity }}</td>
	<td>{{ item.product.price }}</td>
	<td>{{ item.product_total }}</td>
    </tr>
    {% endfor %}
    <tr>
	<td colspan=5><b>Sub-total</b></td>
	<td>N{{ product_total }}</td>
    </tr>
    <tr>
	<td colspan=5><b>Shipping/Delivery Charges</b></td>
	<td>N{{ delivery_total }}</td>
    </tr>
    <tr>
	<td colspan=5><b>Grand Total</b></td>
	<td>N{{ order_total }}</td>
    </tr>
</table>

<p>
    You can complete this order by making your payment either through Ewallet, Pay@Bank or VISA, all available at www.pay4memall.com.
</p>
<p>
    Please retain this for records. 
</p>

{% endblock %}
