{% extends "email_base.html" %}
{% block salutation %}
Good day {{ first_name }},
{% endblock %}
{% block email_body %}
Thank you for your order.

Below are the details of your order:
Name: {{ buyer_name }}

Email Address: {{ buyer_email }}

Shipping Address:
{{ buyer_delivery_address }}

Order Grand Total: N{{ order_total }}

Order Summary
Order ID: {{ order_id }}
Subtotal of Items: N{{ product_total }}
Shipping &amp; Handling: N{{ delivery_total }}
Total for this Order: N{{ order_total }}

Please allow for 14 working days for your order to be delivered.

{% for item in items %}
{{ item.quantity }} {{ item.product.name }}
N{{ item.product.price }}
Sold by: {{ item.store_url }}
{% endfor %}
{% endblock %}
