build
dist
*.beam
*.pyc
*.swp
*.egg-info
.coverage
*~
*.vim
*.rpm
*.html.py
html/icons
html/samples
*.kpf
*.egg
*.beam
*.swo
*.tar
*.gz
*.bz2
*.zip
.weaver-deploy
root@www.aerixnigeria.com
root@aerixnigeria.com
*.pdf
