{% extends "store/index.html" %}

{% block sidebar %}
<ul>
    <li><a href="#">HOME</a></li>
    <li><a href="#">ELECTRONICS</a></li>
    <li>
	<ul>
	    <li><a href="#">TV</a></li>
	    <li>DVD</li> 
	    <li><a href="#">HOME THEATHERS</a></li>
	    <li><a href="#">TV</a></li>
	    <li>DVD</li> 
	    <li><a href="#">HOME THEATHERS</a></li>
	    <li>asdfasdfs</li> 
	</ul>
    </li>
    <li>PHONE</li>
    <li>COMPUTER</li>
    <li>GROCERIES</li>
</ul>
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content_body %}
    <div id="cartPreview">
	<h1>Your ShOPPING CART </h1>
	<div class="heading">
	    <div class="item">
		<div class="title">Item</div>
		<div class="store">Store</div>
		<div class="quantity">Quantity</div>
		<div class=" itemCost">Item Cost</div>
		<div class="totalCost">Total</div>
		<div class="clear"></div>
	    </div>
	</div>
	{% for item in shopping_cart.items %}
	<div class="item">
	    <div class="del"><img src="{{ MEDIA_URL }}img/cartPreviewDelete.jpg"/></div>
	    <div class="thumbnail"><img src="{{ MEDIA_URL }}{{ item.thumbnail }}" style="width:62px; height: 62px;"/></div><br />
	    <div class="title"><a href="#">{{ item.name }}</a></div>
	    <div class="store">{{ item.product_group.store.name }}</div>
	    <div class="quantity">{{ item.quantity }}</div>
	    <div class="itemCost">N{{ item.price }}</div>
	    <div class="totalCost">N{{ item.total_cost }}</div>
	    <div class="clear"></div>
	</div>
	{% endfor %}
	<div class="bagTotal">Order Total<span class="totalAmount">{{ shopping_cart.order_total }}</span></div>
	<div class="shippingAdd">
	    <h2>Shipping Address</h2>
	    <p>
		{% if user.get_profile.delivery_address %}
		    {{ user.get_profile.delivery_address }}
		{% else %}
		    {{ user.get_profile.address }}, {{ user.get_profile.city }},<br/>
		    {{ user.get_profile.state }}, {{ user.get_profile.country }}. 
		{% endif %}
	    </p>
	    <span><a href="#">Edit Address</a></span>
	</div>
	<div class="check">
	    {% if not user.get_profile.delivery_address %}
		<form id="checkout" action="javascript:checkOut();">
		    <a href="/"><img src="{{ MEDIA_URL }}img/contShop.jpg"/></a>
			<input id="checkout_btn" type="submit" style="width: 166px; height: 36px; margin: 0px; border: none; background: url('{{ MEDIA_URL }}img/chkout2.jpg')" value=""/>
		</form>
	    {% else %}
		<form id="pay" action="javascript:pay();">
		    <a href="/"><img src="{{ MEDIA_URL }}img/contShop.jpg"/></a>
			<input id="checkout_btn" type="submit" style="width: 190px; height: 43px; margin: 0px; border: none; background: url('{{ MEDIA_URL }}img/pay.jpg')" value=""/>
		</form>
	    {% endif %}
	</div>
	<div class="clear"></div>
    </div>
{% endblock %}
