{% extends "mall/department.html" %}

{% load thumbnail %}

{% block content_body %}
    <h2>{{ category.name }}</h2>
    {% for product in object_list %}
	{% thumbnail product.image 160x160 crop as thumb %}
	<div id="productItem">
	    <a href="{{ product.get_absolute_url }}">
		<img src="{{ thumb }}" width="{{ thumb.width }}" height="{{ thumb.height }}"/>
		<div class="clear"></div>
		<span>{{ product.name }}<br/><b>{{ product.product_group.store.name }}</b></a></span>
	    </a>
	    <h2>{{ product.price }}</h2>
	</div>
    {% endfor %}
    <div class="clear"></div>
{% endblock %}
