{% extends "base.html" %}

{% load thumbnail %}

{% block content %}
    <div id="homeAdv">
	<img src="{{ MEDIA_URL }}img/adv.jpg">
    </div>
    <div id="homeLeftCol">
	<div id="bannerHome">
	    <img src="{{ MEDIA_URL }}img/banner.jpg" alt=""/>
	</div>
	<h1>FEATURED PRODUCTS</h1>
	{% for product in object_list %}
	<div id="productItem">
	    <a href="{{ product.get_absolute_url }}">
		{% thumbnail product.image 160x160 as thumb %}
		<img src="{{ thumb }}" width="{{ thumb.width }}" height="{{ thumb.height }}"/>
		<div class="clear"></div>
		<span>{{ product.name }}<br/><b>{{ product.product_group.store.name }}</b></a></span>
	    <h2>N{{ product.price }}</h2>
	</div>
	{% endfor %}
	<div class="clear"></div>
    </div>
{% endblock %}
