{% extends "base_inner.html" %}

{% load thumbnail %}

{% block sidebar %}{% endblock %}

{% block breadcrumbs %}
    <div id="breadCrum">
	{% block crumbs %}
	    <div id="url">
		<a href="/">Home</a> &rsaquo; Search
	    </div>
	{% endblock %}
	{% block pagination %}{% endblock %}
	<div class="clear"></div>
    </div>
{% endblock %}

{% block content_body %}
    <div id="pageCtrl">
	<div id="pageTitle">Search Results</div>
	<div class="clear"></div>
    </div>
    <div class="clear"></div>

    {% if query %}
	{% for result in page.object_list %}
	    <div id="productItem">
		{% thumbnail result.object.large_image 116x116 as thumb %}
		<a href="{{ result.object.get_absolute_url }}">
		    <img src="{{ thumb }}" width="{{ thumb.width }}" height="{{ thumb.height }}"/>
		    <div class="clear"></div>
		    <span>{{ result.object.name }}<br/><b>{{ result.object.product_group.store.name }}</b></a></span>
		<h2>{{ result.object.price }}</h2>
	    </div>
	{% empty %}
	    <p>No results found.</p>
	{% endfor %}

	{% if page.has_previous or page.has_next %}
	    <div>
		{% if page.has_previous %}
		    <a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">
		{% endif %}
		    &laquo; Previous
		{% if page.has_previous %}</a>
		{% endif %} | 
		{% if page.has_next %}
		    <a href="?q={{ query }}&amp;page={{ page.next_page_number }}">
		{% endif %}
		    Next &raquo;
		{% if page.has_next %}</a>
		{% endif %}
	    </div>
	{% endif %}
    {% else %}
	{# Show some example queries to run, maybe query syntax, something else? #}
    {% endif %}
{% endblock %}
