<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Pay4Me Mall</title>
	<link href="/site_media/css/main.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
	<div id="heading">
	    <div id="logo"><img src="/site_media/img/logo.gif" alt="Pay4Me Mall" /></div>
	    <div id="checkout">
		    {% block cart_indicator %}
			<div id="cart_indicator" class="cartUpdate">
			    MY SHOPPING CART: <span id="cart_details"></span>
			    <br/>
			    {% if user.is_authenticated %}
				<b>Welcome {{ user.first_name }}</b> | <a href="#">ACCOUNT</a> | 
				{% if user.is_staff %}
				    <a href="/admin/">ADMIN</a> | 
				{% endif %}
				<a href="/account/logout/">SIGN OUT</a>
			    {% else %}
				<a href="javascript:redirectToLogin();">SIGN IN</a> | <a href="javascript:redirectToRegister();">REGISTER</a>
			    {% endif %}
			</div>
			<div class="btn">
			    <a href="/cart/preview/"><img src="/site_media/img/checkout.gif" alt="CHECKOUT"/></a>
			</div>
			<div class="clear"></div>
			<form id="mall_search">
			    {{ form_set.mall_search_form.query }}
			</form>
		    {% endblock %}
		</div>
		<div class="clear"></div>
	    </div>
	    <div class="clear"></div>
	</div>
	<div id="nav">
	    <ul>
		<a href="#" style="float:left;"><img src="/site_media/img/home.gif"  alt="HOME" /></a>
		<li><a href="#">GROCERIES</a></li>
		<li><a href="#">ELECTRONICS</a></li>
		<li><a href="#">MOBILE PHONES</a></li>
		<div class="clear"></div>
	    </ul>
	    <div id="selectMenu">
		{{ form_set.store_select_form }}
		{{ form_set.dept_select_form }}
	    </div>
	    <div class="clear"></div>
	</div>
	{% block content %}{% endblock %}
	<div class="clear"></div>
	<div id="footer">
	    <ul>
		<li><a href="#">SHIPPING</a></li>
		<li>CONTACT</li>
		<li>CUSTOMER SERVICES</li>
	    </ul>
	    <ul>
		<li>SHIPPING</li>
		<li><a href="#">CONTACT</a></li>
		<li><a href="#">CUSTOMER SERVICES</a></li>
	    </ul>
	    <ul>
		<li><a href="#">SHIPPING</a></li>
		<li><a href="#">CONTACT</a></li>
		<li><a href="#">CUSTOMER SERVICES</a></li>
	    </ul>
	    <img src="/site_media/img/pay4me.gif" style="float:right; margin:10px;">
	    <div class="clear"></div>
	</div>
	<p>COPYRIGHT PAY4MEMALL.COM</p>
    </body>
    <script src="/site_media/js/jquery.js" type="text/javascript"></script>
    <script src="/site_media/js/main.js" type="text/javascript"></script>
    {% block custom_js %}{% endblock %}
</html>
