{% extends "base.html" %}

{% block body_id %}<body id="store">{% endblock %}

{% block content %}
{% load thumbnail %}
<div id="productPage">
    <div id="leftCol">
    {% block sidebar %}
	<ul>
	{% for department in departments %}
	    <li id="dept"><a href="#">{{ department }}</a></li>
	    <li>
		<ul>
		{% for category in department.category_set.all %}
		    <li><a href="#">{{ category }}</a></li>
		{% endfor %}
		</ul>
	    </li>
	{% endfor %}
	</ul>
    {% endblock %}
    </div>
    <div id="rightCol">
	{% block breadcrumbs %}
	    {% block pagination %}{% endblock %}
	{% endblock %}
	{% block content_body %}{% endblock %}
    </div>
    <div class="clear"></div>
</div>
{% endblock %}
