#productItem img    {
    width: 116px;
    height: 116px;
}
#home_link  {
    float: left;
}
#mall_search #id_query	{margin-top:5px; border:1px solid #cacaca; width:220px; line-height:25px; height:25px; color:#838383; padding:}
#store_search #id_query{border:1px solid #9e9e9e; width:160px; margin-bottom:10px; line-height:20px; height:20px;}
