@charset "UTF-8";
@import "dev.css";
body{
	font-family: Helvetica, Arial, sans-serif;   font-size:12px;
	padding:0px; margin:0px; color:#838383; width:950px; margin-left:auto; margin-right:auto; padding-right:0px; padding-left:0px;
}
h1{ color:#2c6ca5;  font-size:18px; font-weight:normal; line-height:18px; margin-bottom:10px; margin-top:15px; text-transform:uppercase;}
h2 {margin-bottom:10px; color:#2c6ca5; font-weight:normal;}
a img { border:none;} 
a{text-decoration:none; color:#838383; }
a:hover{color:#2c6ca5;}
.clear{clear:both;}

#heading{ margin-top:10px;}
#logo{float:left;}
#checkout{ float:right;  text-align:right; font-size:11px;  line-height:14px;}
#checkout .btn{ float:right; margin-left:10px;}
#checkout .cartUpdate{float:left; }
#checkout .search{ margin-top:5px; border:1px solid #cacaca; width:220px; line-height:25px; height:25px; color:#838383; padding:}
#nav{ margin:0px; padding:0px; border:1px solid #cacaca; border-left:none; border-right:none; margin-top:10px; font-size:12px; padding:3px; margin-bottom:10px; text-transform:uppercase;}
#nav ul{ padding:0px; margin:0px; list-style:none; float:left; font-weight:bold; }
#nav a:hover{ color:#d61e35;}
#nav li{ float:left; margin-right:10px; margin-left:10px; line-height:30px; vertical-align:middle; }
#nav li a{color:#2c6ca5;}


#selectMenu{float:right; margin-top:5px;}

#homeAdv{ float:right; width:189px; border:1px solid #cacaca;}
#bannerHome{ border:1px solid #cacaca;  width:749px;}
#homeLeftCol{float:left; width:750px;}
#footer{margin-top:10px;  border:1px solid #cacaca; border-left:none; border-right:none; font-size:10px; margin-right:15px; margin-bottom:10px; width:950px; }
#footer ul{ margin:0px; padding:10px; list-style:none; float:left; line-height:30px; }

#productItem{ float:left; width:183px; padding:2px; text-align:center; line-height:14px; margin-bottom:10px; margin-top:10px; height:220px;}
#productItem img{ margin-bottom:15px; margin-top:15px;}
#productItem h2{color:#2c6ca5; font-size:12px; line-height:14px; margin:0px; }

#productPage{background:url("/site_media/img/leftProdctPage.gif") repeat-y 0px 0px; }
