@charset "UTF-8";
#leftCol { float:left; width:160px; padding:15px;
}
#leftCol   ul{ font-size:12px; font-weight:bold; line-height:22px;  padding:0px; list-style:none; margin:0px; text-transform:uppercase; color:#2c6ca5}
#leftCol   li ul { text-indent:20px;} 
#leftCol  a{color:#2c6ca5;}
#leftCol a:hover{color:#d61e35;}

#rightCol{float:right; width:750px; margin-bottom:10px;}
#breadCrum{ background:url("/site_media/img/dotLines.gif") repeat-x bottom; padding:5px; font-size:10px; margin-bottom:10px; padding-top:0px; padding-left:0px; padding-right:0px; text-transform:uppercase;}
#pager{float:right; font-size:12px; }
#pager .highlight{ color:#FFF; background:#2c6ca5; padding:3px;}
#url{ float:left;}

#productDetailsCtrl{ float:right; padding:0px;}
#productDetailsCtrl  h1{ margin:0px; padding:0px; line-height:18px;}
#pageTitle  {
    float: left;
    color: #2c6ca5;
    font-size: 18px;
    font-weight: normal;
    line-height: 18px;
    margin-bottom: 10px;
    margin-top: 0px;
    text-transform: uppercase;
}}
#pageCtrl{ margin-bottom:20px; float:left; }
#storeLogo{margin-bottom:10px;}
