{% extends "base_inner.html" %}

{% block sidebar %}
    <div id="storeLogo"><a href="#"><img src="{{ MEDIA_URL }}img/amazeLogo.jpg" alt="{{ store.name }}"></a></div>
    <input name="" type="text" id="storeSearch" value="Search Store"/>
    <ul>
	{% for pg in store.productgroup_set.all %}
	    {% if product_group %}
		{% ifequal pg.id product_group.id %}
		    <li><a class="cat selected" href="/store/{{ store.account_name }}/browse/{{ pg.id }}/">{{ pg.name }}</a></li>
		{% else %}
		    <li><a class="cat" href="/store/{{ store.account_name }}/browse/{{ pg.id }}/">{{ pg.name }}</a></li>
		{% endifequal %}
	    {% else %}
		<li><a class="cat" href="/store/{{ store.account_name }}/browse/{{ pg.id }}/">{{ pg.name }}</a></li>
	    {% endif %}
	{% endfor %}
    </ul>
{% endblock %}

{% block breadcrumbs %}
    <div id="breadCrum">
    {% if store %}
	<a href="/">Home</a> &rsaquo; {{ store.name }}
    {% endif %}
    {% if product_group %}
	<a href="/">Home</a> &rsaquo; <a href="/store/{{ product_group.store.account_name}}/">{{ product_group.store.name }}</a> &rsaquo; {{ product_group.name }}
    {% endif %}
    {% if product %}
	<a href="/">Home</a> &rsaquo; <a href="/store/{{ product.product_group.store.account_name}}/">{{ product.product_group.store.name }}</a> &rsaquo; <a href="/store/{{ product.product_group.store.account_name }}/browse/{{ product.product_group.id }}/">{{ product.product_group.name }}</a> &rsaquo; {{ product.name }}
    {% endif %}
    </div>

{% endblock %}

{% block content_body %}
    <div id="pageCtrl">
	<div id="pageTitle">{{ store.name }}</div>
	<div class="clear"></div>
    </div>
    <div class="clear"></div>
    <div><img src="{{ MEDIA_URL }}img/amazeBanner.jpg"/></div>
    <h2>Recently Added</h2>
    {% for product in products %}
	<div id="productItem">
	    <a href="#">
		<img src="{{ MEDIA_URL }}{{ product.thumbnail }}"/>
	    </a>
	    <div class="clear"></div>
	    <a href="#">{{ product.name }}<br/><b>{{ product.product_group.store.name }}</b></a>
	    <h2>{{ product.price }}</h2>
	</div>
    {% endfor %}
{% endblock %}

{% block custom_js %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/mall.js"></script>
{% endblock %}
