{% extends "base_inner.html" %}

{% block sidebar %}
    <div id="storeLogo"><a href="#"><img src="{{ MEDIA_URL }}{{ store.logo }}" alt="{{ store.name }}"></a></div>
    <!--<form id="store_search">
	{{ form_set.store_search_form.query }}
    </form>-->
    <ul>
	{% for pg in store.productgroup_set.all %}
	    <li><a class="cat" href="/store/{{ pg.store.account_name }}/browse/{{ pg.id }}/">{{ pg.name }}</a></li>
	{% endfor %}
    </ul>
{% endblock %}

{% block breadcrumbs %}
    <div id="breadCrum">
	{% block crumbs %}
	    <div id="url">
		<a href="{% url mall_home %}">Home</a> &rsaquo; {{ store.name }}
	    </div>
	{% endblock %}
	{% block pagination %}{% endblock %}
	<div class="clear"></div>
    </div>
{% endblock %}

{% block content_body %}
    <div id="pageCtrl">
	<div id="pageTitle">{{ store.name }}</div>
	<div class="clear"></div>
    </div>
    <div class="clear"></div>
    <div><img src="{{ MEDIA_URL }}{{ store.banner }}"/></div>
    <h2>Recently Added</h2>
    <div class="clear"></div>
    {% for product in object_list %}
	<div id="productItem">
	    <a href="/store/{{ store.account_name }}/product/{{ product.id }}/">
		<img src="{{ MEDIA_URL }}{{ product.thumbnail }}"/>
		<div class="clear"></div>
		<span>{{ product.name }}<br/></span>
	    </a>
	    <h2>{{ product.price }}</h2>
	</div>
    {% endfor %}
    <div class="clear"></div>
{% endblock %}

{% block custom_js %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/mall.js"></script>
{% endblock %}
