{% extends "store/index.html" %}

{% block content_body %}
    <div id="productDetail">
	<div id="productDetailLeft">
	    <div class="imgHolder"><img src="{{ MEDIA_URL }}{{ product.large_image }}"/></div>
	    <div class="enlarge"><a href="#">Click to Enlarge</a></div>
	</div>
	<div id="productDetailRight">
	    <h1>{{ product.name }}</h1>
	    <b>{{ product.product_group.store.name }}</b><br/>
	    <p>{{ product.description }}</p>
	    <form id="add_to_cart" action="javascript:addToCart();">
		<ul>
		    <li>
			<label> QTY:</label>
			{{ form_set.shopping_cart_form.quantity }}
		    </li>
		</ul>
		<input id="product_id" type="hidden" value="{{ product.id }}"/>
		<input type="submit" style="" value=""/>
	    </form>
	</div>
	<div class="clear"></div>
    </div>
{% endblock %}
