{% extends "store/index.html" %}

{% block crumbs %}
    <div id="url">
	<a href="{% url mall_home %}">Home</a> &rsaquo; <a href="{{ product.product_group.store.get_absolute_url }}">{{ product.product_group.store.name }}</a> &rsaquo; <a href="{{ product.product_group.get_absolute_url }}">{{ product.product_group.name }}</a> &rsaquo; {{ product.name }}
    </div>
{% endblock %}

{% block content_body %}
    <p>{{ feedback }}</p>
    <div id="productDetail">
	<div id="productDetailLeft">
	    <div class="imgHolder"><img src="{{ MEDIA_URL }}{{ product.image }}"/></div>
	    <!--<div class="enlarge"><a href="#">Click to Enlarge</a></div>-->
	</div>
	<div id="productDetailRight">
	    <h1>{{ product.name }}</h1>
	    <b>{{ product.product_group.store.name }}</b><br/>
	    <p>{{ product.description }}</p>
	    <p><h3>N{{ product.price }}</h3></p>
	    <form id="add_to_cart" method="post" action=".">
		<ul>
		    <li>
			{{ shopping_cart_form.as_ul }}
		    </li>
		</ul>
		<input id="add_to_cart_btn" type="submit" value="Add To Cart"/>
	    </form>
	</div>
	<div class="clear"></div>
    </div>
{% endblock %}
