{% extends "store/index.html" %}

{% block pagination %}
    <div id="pager">
	<span>Found {{ product_list_length }} items.</span>
	{% if products.has_previous %}
	    <a href="?page={{ products.previous_page_number }}">Previous</a>
	{% endif %}
	Page {{ products.number }} of {{ products.paginator.num_pages }}.</span>
	{% if products.has_next %}
	    <a href="?page={{ products.next_page_number }}">Next</a>
	{% endif %}
    </div>
{% endblock %}

{% block content_body %}
    <div id="pageCtrl">
	<div id="pageTitle">{{ product_group.name }}</div>
	<div id="productDetailsCtrl">
	    <span>Sort By:</span>
	    {{ form_set.store_sorter_form.sort_items }}
	    Item Per page 
	    <select name="">
	      <option>12</option>
	      <option>14</option>
	      <option>18</option>
	    </select>
	</div>
	<div class="clear"></div>
    </div>
    <div class="clear"></div>
    {% for product in products.object_list %}
	<div id="productItem">
	    <a href="/store/{{ store.account_name }}/product/{{ product.id }}/">
		<img src="{{ MEDIA_URL }}{{ product.thumbnail }}"/>
		<div class="clear"></div>
		<span>{{ product.name }}<br/><b>{{ product.product_group.store.name }}</b></a></span>
	    <h2>{{ product.price }}</h2>
	</div>
    {% endfor %}
    <div class="clear"></div>
{% endblock %}
