{% extends "store/index.html" %}

{% load thumbnail %}

{% block crumbs %}
    <a href="{% url mall_home %}">Home</a> &rsaquo; <a href="{{ product_group.get_absolute_url }}">{{ product_group.store.name }}</a> &rsaquo; {{ product_group.name }}
{% endblock %}

{% block pagination %}
    <div id="pager">
	<span>Found {{ product_list_length }} items.</span>
	{% if page_obj.has_previous %}
	    <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
	{% endif %}
	Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
	{% if page_obj.has_next %}
	    <a href="?page={{ page_obj.next_page_number }}">Next</a>
	{% endif %}
    </div>
{% endblock %}

{% block content_body %}
    <div id="pageCtrl">
	<div id="pageTitle">{{ product_group.name }}</div>
	<div id="productDetailsCtrl">
	    <span>Sort By:</span>
	    {{ store_sorter_form.sort_items }}
	    Item Per page 
	    <select name="">
	      <option>12</option>
	      <option>14</option>
	      <option>18</option>
	    </select>
	</div>
	<div class="clear"></div>
    </div>
    <div class="clear"></div>
    {% for product in object_list %}
	<div id="productItem">
	    {% thumbnail product.large_image 160x160 as thumb %}
	    <a href="{{ product.get_absolute_url }}">
		<img src="{{ thumb }}" width="{{ thumb.width }}" height="{{ thumb.height }}"/>
		<div class="clear"></div>
		<span>{{ product.name }}<br/><b>{{ product.product_group.store.name }}</b></a></span>
	    <h2>{{ product.price }}</h2>
	</div>
    {% endfor %}
    <div class="clear"></div>
{% endblock %}
