{% extends "email_base.html" %}
{% block salutation %}
<p>Dear {{ first_name }},</p>
{% endblock %}
{% block email_body %}
<p>Your store {{ store_name }} has been created on Pay4Me Mall.</p>

<p>
    Your access URLs are:
</p>
<p>
    Store Front: {{ store_home_url }}<br/>
    Store Administration: {{ admin_url }}<br/>
</p>

<p>
    Your Store Administration login details are:
</p>
<p>
    Username: {{ username }}<br/>
    Password: {{ password }}
</p>

<p>
    To get started with Store Administration, here's the user manual: {{ user_manual_url }}.
</p>
{% endblock %}
