{% extends "base.html" %}

{% block content %}
    <h2>Thank you for your order. We would be delivering your order to the address below.</h2>
    <p>
	{{ user.get_profile.address }}
	{{ user.get_profile.city }}
	{{ user.get_profile.state }}
	{{ user.get_profile.country }}.
    </p>
    <h2>Alternatively, you can specify a delivery address.</h2>
    <form>
	<fieldset>
	    {{ delivery_form.as_p }}
	</fieldset>
	<fieldset>
	    <input type="submit" value="Save & Continue"/>
	    <input type="submit" value="Proceed to Checkout"/>
	</fieldset>
    </form>
{% endblock %}
