{% extends "base.html" %}

{% block content %}
    <h2>Thank you. We would be delivering your order to the address below.</h2>
    <p>
	{% if not user.get_profile.delivery_address %}
	    {{ user.get_profile.address }},
	    {{ user.get_profile.city }},<br/>
	    {{ user.get_profile.state }},
	    {{ user.get_profile.country }}.
	{% else %}
	    {{ user.get_profile.delivery_address }}
	{% endif %}
    </p>
    <h2>Alternatively, you can specify a delivery address.</h2>
    <form action="/delivery/" method="post">
	{{ delivery_form.delivery_address }}
	<fieldset style="border: none; padding: 10px 0 0 0">
	    <input type="submit" value="Continue"/>
	</fieldset>
    </form>
{% endblock %}
